<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Jobsite game</title>

    <link rel="stylesheet" href="/css/game-styles.css"/>

  </head>
  <body>
    <h1>Jobsite</h1>
    <span class="debug-info" id="track-fps">FPS: unk</span>
    <div class="canvas-container">
        <canvas id="game-canvas"></canvas>

        <h2 id="chat-message"></h2>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.2/socket.io.js" integrity="sha512-iZIBSs+gDyTH0ZhUem9eQ1t4DcEn2B9lHxfRMeGQhyNdSUz+rb+5A3ummX6DQTOIs1XK0gOteOg/LPtSo9VJ+w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/js/game-client.js"></script>
  </body>
</html>