<h3><i class="fas fa-hammer"></i> Welcome!</h3>
<div class="section">
    <p class="lead">Homepage for the renowned game 'On the Job'</p>
</div>
<div class="section">
    <a href="/game" class="btn blue darken-1">
        Play the game
    </a>
</div>