<h3><i class="fas fa-hammer"></i> Jobsite</h3>
<div class="section">
    <p class="lead">Site for the renowned game 'On the Job'</p>
</div>
<div class="section">
    <a href="/auth/google" class="btn green darken-2">
        <i class="fab fa-google left"></i> Log In
    </a>
    <a href="/home/?guest=true" class="btn green darken-1">
        <i class="fab check left"></i> Conintue as guest
    </a>

    <!-- Display error message if not authenticated  -->
    <p class="err-text">{{message}}</p>
</div>